
#id01{
margin-left:30%;
	width:50%;
    height:70%;
    padding-top:1%;
}
.modal-content{


    height:95%;
    width:80%;

	}

	
.container li{
   
   margin-top:50px;
   list-style-type:none;

}

#txt_name{
	font-size: 0.5em;
	color: #333;
	display: block;
	margin-top: 15px;

	width: 100%;
	border: none;
	padding: 10px 10px;
	border-bottom: 2px solid #333;
}
